/*Estilos generales */
.separacion{
	margin-bottom: 10%;
}

.fondo_rojo{
	background: #d9534f;
}

.color_blanco {
	color: white;
}

.invisible{
	display: none;
}

.margen-inferior-2{

	margin-bottom: 2em;
}

/*Estilo para el sistema*/


.pag404{
	background: url('../images/imagen.jpg');
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	overflow: hidden;
	width: 100%;
}

.pag505{
	background: url('../images/cerenis.jpg');
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	overflow: hidden;
	width: 100%;
}

.pag404 h1, .pag505 h1{
	text-align: center;
	padding: .3em;
	width: 80%;
	margin: auto;
	margin-top: 1em;
}

.login{
	background: url('../images/background.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
#hora{
	background: #d9534f;
	color: white;
	border-radius: 0em 0em 1em 1em;
  	width: 8em;
}

a{

	cursor: pointer;
}


.container_fixe_bottom {

	position: fixed;
	bottom: 0;
}

.sombra_roja{
	border: .5em solid #d9534f;
	border-radius: 1em; 
	box-shadow: 1em 1em 1em;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
}


.modal-backdrop-cervezeria {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background: url('../images/negocio.jpeg');
  background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.modal-backdrop-kajataca {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background: url('../images/kajataca.jpg');
  background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.modal-content{

	max-width: 90%;
	overflow: auto;
}

footer{
	
	background:  #d9534f;
	color: white;
	width: 20%;
	text-align: center; 
	border-radius: 1em 1em 0em 0em;
	border: .3em solid #ccc;
	position: fixed;
	bottom: 0;
	cursor: pointer;
	transition: .5s;
	
}




